fastapi
uvicorn[standard]
pandas
opencv-python
thefuzz
requests
python-dotenv

# Bibliotecas do Google - versões travadas para compatibilidade
google-cloud-vision==3.7.2
google-cloud-aiplatform==1.56.0
google-generativeai==0.7.1
google-api-python-client
google-auth-httplib2
python-multipart
openpyxl